
/* all imported font */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Lilita */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* Luckiest Guy , cursive*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Sriracha, cursive */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;800;1000&display=swap');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  max-width: 100% ;

}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  box-sizing: inherit;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-lobster {
  font-family: 'Lobster', cursive, sans-serif;
}


.font-lilita {
  font-family: 'Lilita One', cursive, sans-serif;
}


.font-poppins {
  font-family: 'Poppins', sans-serif;
}


.font-sriracha {
  font-family: 'Sriracha', cursive, sans-serif;
}


.font-nunito {
  font-family: 'Nunito', sans-serif;
}





@tailwind base;
@tailwind components;
@tailwind utilities;




.vertical-mode{
    writing-mode: vertical-rl;
}


@keyframes rotate-border{
  
  0%   {border:2px solid #64ffda}
  25%   {border:8px solid #9bffe1}
  50%   {border:4px solid #70fff8}  
  76%   {border:12px solid #24beb7}  
  100%   {border:10px solid #64ffda}

}

.border-animation{
  border: 1px solid #64ffda;
animation-name: rotate-border;
animation-duration: 3s;
animation-iteration-count: infinite;
}

